{% block sw_cms_el_config_carve %}
    <div class="sw-cms-el-config-carve">
        <sw-textarea-field
            v-model:value="content"
            label="Carve source"
            placeholder="## Heading&#10;&#10;*bold* text">
        </sw-textarea-field>
        <label class="sw-field__label">Live preview (byte-identical to storefront)</label>
        <div class="sw-cms-el-config-carve__preview carve-content" v-html="previewHtml"></div>
    </div>
{% endblock %}
