{% sw_extends '@Storefront/storefront/component/product/description.html.twig' %}

{# Shopware 6.7 moved the product description template from
   page/product-detail/description.html.twig to component/product/description.html.twig
   (block: component_product_description_content_text). Render the carve_body product
   custom field as safe HTML via the |carve_ctx filter (context-aware: resolves
   :product[SKU] references). #}
{% block component_product_description_content_text %}
    {{ parent() }}

    {% set carveSource = product.translated.customFields.carve_body
        ?? product.customFields.carve_body ?? null %}
    {% if carveSource %}
        <div class="carve-content carve-product-description">
            {{ carveSource|carve_ctx(context) }}
        </div>
    {% endif %}
{% endblock %}
